<!DOCTYPE html>
<html lang="en" ng-app='grumblr'>
<head>
  <meta charset="UTF-8">
  <title>Grumblr</title>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/grumbles.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div ng-controller="grumblesController as grumblesCtrl">
    <div ng-click="grumblesCtrl.toggleForm()" class="newGrumble">New Grumble</div>
    <form ng-show="grumblesCtrl.formIsVisible" ng-submit="grumblesCtrl.createGrumble()">
      <label>Title:</label>
      <input type="text" name="title" ng-model="grumblesCtrl.title">
      <label>Author:</label>
      <input type="text" name="author_name" ng-model="grumblesCtrl.author_name">
      <label>Content:</label>
      <input type="text" name="content" ng-model="grumblesCtrl.content">
      <label>Photo URL:</label>
      <input type="text" name="photo_url" ng-model="grumblesCtrl.photo_url">
    </form>

    <h2>Grumbles:</h2>
    <div ng-repeat="grumble in grumblesCtrl.grumbles">
      <p ng-show="!editGrumble"><h3> {{grumble.title}}</h3>
        <div>Author: {{grumble.author_name}}</div>
        <div>{{grumble.content}}</div>
        <img ng-src = {{grumble.photo_url}} >
      </p>
        <button class="edit" ng-click="todosCtrl.edit($index); editGrumble = !editGrumble">Edit Grubmle</button>
        <form ng-show="editGrumble">
          <input type="text" name="title" ng-model="grumble.title">
          <input type="text" name="author_name" ng-model="grumble.author_name">
          <input type="text" name="content" ng-model="grumble.content">
          <input type="text" name="photo_url" ng-model="grumble.photo_url">
          <button class="new" ng-click="grumblesCtrl.update($index); editGrumble = !editGrumble">Save</button>
          <button ng-click="editGrumble = !editGrumble" class="cancel">Cancel</button>
        </form>
    </div>
  </div>

</body>
</html>
